@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
  --font-new-tegomin: 'New Tegomin', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans JP', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* スパム対策用 */
.no-spam {
  display: none;
}

/* スクロールバーのスタイル */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px; /* スクロールバーの幅 */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d3b25b; /* スクロールバーの色 */
  border-radius: 4px; /* スクロールバーの角丸 */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #fff9e5; /* スクロールバーの背景 */
}
